$primary:#292929;
$secondary: #565353 ;
$danger: #f10c1f;
$warning:#E0D300;

/* letter color for main card */
$cardLetterColor: #191516;

/* background color for forecast */
$bgColorForecast: #4D99E7;